<h1>Forgot Password</h1>

<form action="/api/auth/forgot-password" method="post">
    email: <input type="text" name="email"><br>
    <input type="submit" value="SUBMIT">
</form>



<button onclick="location.href='/api/views/'">BACK</button>
