<h1>Restart Password</h1>
<h1>{{user.id}}</h1>

<form action="/api/auth/reset-password/{{user.id}}" method="post">
    Password: <input type="text" name="password"><br>
    <input type="submit" value="RESTART">
</form>

<button onclick="location.href='/api/views/'">BACK</button>


{{!-- <button onclick="location.href='/api/views/'">BACK</button> --}}
