<h1>Registrar Usuario</h1>

<form action="/session/register" method="post">
    first_name: <input type="next" name="first-name"><br>
    last_name: <input type="text" name="last-name"><br>
    email: <input type="text" name="email"><br>
    age: <input type="text" name="age"><br>
    password: <input type="text" name="password"><br>
    <input type="submit" value="Crear">
</form>