<h1>Iniciar Sesion</h1>

<form action="/api/users/login" method="post">
    email: <input type="text" name="email"><br>
    password: <input type="text" name="password"><br>
    <input type="submit" value="login">
</form>

<h2>New User</h2>

<button onclick="location.href='/api/session/register'">REGISTER</button>
<button onclick="location.href='/api/users/githubSignup'">GITHUB</button>
<button onclick="location.href='/api/users/googleSignup'">GOOGLE</button>